commands:
  01_check_mongodb:
    test: "[ ! -f /usr/bin/mongod ]"
    command: |
      echo '[mongodb-org-7.0]' > /etc/yum.repos.d/mongodb-org-7.0.repo
      echo 'name=MongoDB Repository' >> /etc/yum.repos.d/mongodb-org-7.0.repo
      echo 'baseurl=https://repo.mongodb.org/yum/amazon/2023/mongodb-org/7.0/x86_64/' >> /etc/yum.repos.d/mongodb-org-7.0.repo
      echo 'gpgcheck=1' >> /etc/yum.repos.d/mongodb-org-7.0.repo
      echo 'enabled=1' >> /etc/yum.repos.d/mongodb-org-7.0.repo
      echo 'gpgkey=https://www.mongodb.org/static/pgp/server-7.0.asc' >> /etc/yum.repos.d/mongodb-org-7.0.repo
      yum install mongodb-mongosh-shared-openssl3 -y
      yum install -y mongodb-org-7.0.2 mongodb-org-database-7.0.2 mongodb-org-server-7.0.2 mongodb-org-mongos-7.0.2 mongodb-org-tools-7.0.2

  02_start_mongod:
    command: "systemctl start mongod"
    ignoreErrors: true

  03_enable_mongod:
    command: "systemctl enable mongod"
    ignoreErrors: true

  04_download_pem:
    command: "wget https://truststore.pki.rds.amazonaws.com/global/global-bundle.pem -O /root/global-bundle.pem"
    ignoreErrors: true
